/* NORMALIZE CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(25, 26, 31); */
}

main {
  flex-grow: 1;
}

.index-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: xx-large;
}

.top-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
}

#logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

nav > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.focus {
  color: black;
}

nav a:hover {
  color: black;
  transition: all .3s linear;
}

.top-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  height: 80vh;
  width: 80%;
  color: white;
  background-image: url('../assets/kettlebell-gym-equipment-still-life-crop.jpg');
}

.opacity-box {
  top: 0;
  position: absolute;
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.849) 100%);
  backdrop-filter: blur(5px);
  z-index: 0;
}

.top-section h2 {
  font-size: 3vw;
  z-index: 1;
}

.top-section p {
  width: 50ch;
  font-size: 1vw;
  z-index: 1;
}

.products {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}

h3 {
  text-align: center;
  margin: 10px 0px;
  margin-bottom: 30px;
}

.product-card {
  border-radius: 10px;
  min-height: 350px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.product-card p {
  width: 50ch;
  font-size: 12px;
  color: rgb(70, 70, 70);
}

.product-card img {
  width: 300px;
}

.product-card > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.705);
  padding: 6px 10px;
  width: fit-content;
  border: 3px solid #7D6096;
}

.product-card > a:hover {
  background-color: #7D6096;
  color: white;
  transition: all .2s linear;
}

.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.categories-container {
  display: flex;
  justify-content: center;
  gap: 120px
}

.categories img {
  width: 300px;
}

.categories > h3 {
  text-align: center;
}

.categories article {
  text-align: center;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #231435;
  margin-top: 35px;
  color: white;
}

/* ABOUT US SECTION */

.about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#top-section-about {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  background-image: url("../assets/work-team-digital-art.jpg");
  height: 80vh;
  justify-content: center;
  background-position: center;
  background-size: cover;
  width: 80%;
  position: relative;
}

#top-section-about h2 {
  z-index: 1;
  color: white;
  font-size: xxx-large;
}

#top-section-about p {
  width: 90ch;
  font-size: 20px;
  color: white;
  z-index: 1;
}

#team-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.team-container article {
  padding: 30px 15px;
  box-shadow: 2px 10px 20px 5px #d7d7d785;
  height: fit-content;
  background: linear-gradient(white 0%, #5d54c826 100%);
}

#founder {
  padding: 50px 25px;
}

#team-section article * {
  margin-bottom: 10px;
}

#team-section article img {
  border-radius: 100%;
}

.team-description {
  width: 300px;
}

#values-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#values-section li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* width: 600px; */
  gap: 40px;
}

#values-section p {
  width: 40ch;
}

#values-section img {
  box-shadow: 18px 18px 1px 6px #9442cc;
  filter: brightness(.7);
}

/* PRODUCTS PAGE */

aside {
  padding: 0px 60px;
  border-right: 1px solid rgb(194, 194, 194, .5);
  height: fit-content;
  width: 320px;
}

aside ul {
  list-style: none;
}

.subcategory li:hover {
  transition: all .1s linear;
  color: black;
  background-color: #7d60963a;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subcategory {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.subcategory li {
  color: rgba(133, 133, 133, 0.685);
  cursor: pointer;
  padding: 5px 10px;
}

.big-products-container {
  display: flex;
  gap: 20px;
}

.big-products-container h2 {
  margin-bottom: 10px;
}

.products-main {
  flex-grow: 1;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.products-cont {
  justify-content: start;
  gap: 50px;
}

table {
  text-align: center;
  border-collapse: collapse;
}

table * {
  padding: 10px 60px;
  border: 1px solid rgba(202, 202, 202, 0.514);
}

table th {
  background-color: #7d6096d0;
  color: white;
}

/* CONTACT PAGE */

#contact-main {

}

#contact-main-container {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
}

form {
  width: 40%;
}

iframe {
  height: 500px;
  width: 40%;
}

input[type=text] {
  padding: 10px;
  width: 100%;
}

input[type=submit], input[type=reset] {
  width: 49%;
  padding: 5px;
}

textarea {
  width: 100%;
}

#categories-field {
  width: 100%;
  border: none;
  padding: 5px;
}

.categories-container {
  display: flex;
  justify-content: space-between;
}

.categories-container label {

}


/* form {
  display: flex;
  flex-direction: column;
} */

/* @media (min-width: 375px) and (max-width: 685px) {
} 

@media (min-width: 686px) and (max-width: 1024px) {
}
*/