/* NORMALIZE CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(25, 26, 31); */
}

main {
  flex-grow: 1;
}

.index-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: xx-large;
}

.top-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
}

#logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

nav > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.focus {
  color: black;
}

nav a:hover {
  color: black;
  transition: all .3s linear;
}

.top-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  height: 80vh;
  width: 80%;
  color: white;
  background-image: url('../assets/kettlebell-gym-equipment-still-life-crop.jpg');
}

.opacity-box {
  top: 0;
  position: absolute;
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.849) 100%);
  backdrop-filter: blur(5px);
  z-index: 0;
}

.top-section h2 {
  z-index: 1;
}

.top-section p {
  z-index: 1;
}

.products {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}

h3 {
  text-align: center;
  margin: 10px 0px;
  margin-bottom: 30px;
}

.product-card {
  border-radius: 10px;
  min-height: 350px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.product-card p {
  width: 50ch;
  font-size: 12px;
  color: rgb(70, 70, 70);
}

.product-card img {
  width: 300px;
}

.product-card > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.705);
  padding: 6px 10px;
  width: fit-content;
  border: 3px solid #7D6096;
}

.product-card > a:hover {
  background-color: #7D6096;
  color: white;
  transition: all .2s linear;
}

.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.categories-container {
  display: flex;
  justify-content: center;
  gap: 120px
}

.categories img {
  width: 300px;
}

.categories > h3 {
  text-align: center;
}

.categories article {
  text-align: center;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #231435;
  margin-top: 35px;
  color: white;
}

/* ABOUT US SECTION */

.about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#top-section-about {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  background-image: url("../assets/work-team-digital-art.jpg");
  height: 80vh;
  justify-content: center;
  background-position: center;
  background-size: cover;
  width: 80%;
  position: relative;
}

#top-section-about h2 {
  z-index: 1;
  color: white;
}

#top-section-about p {
  color: white;
  z-index: 1;
}

#team-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.team-container article {
  padding: 30px 15px;
  box-shadow: 2px 10px 20px 5px #d7d7d785;
  height: fit-content;
  background: linear-gradient(white 0%, #5d54c826 100%);
}

#founder {
  padding: 50px 25px;
}

#team-section article * {
  margin-bottom: 10px;
}

#team-section article img {
  border-radius: 100%;
}

.team-description {
  width: 300px;
}

#values-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#values-section li {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
}

#values-section p {
  width: 40ch;
}

#values-section img {
  box-shadow: 18px 18px 1px 6px #9442cc;
  filter: brightness(.7);
}

/* PRODUCTS PAGE */

aside {
  padding: 0px 60px;
  border-right: 1px solid rgb(194, 194, 194, .5);
  height: fit-content;
  width: 320px;
  margin: 0px auto;
}

aside ul {
  list-style: none;
}

.subcategory li:hover {
  transition: all .1s linear;
  color: black;
  background-color: #7d60963a;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subcategory {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.subcategory li {
  color: rgba(133, 133, 133, 0.685);
  cursor: pointer;
  padding: 5px 10px;
}

.big-products-container {
  display: flex;
  gap: 20px;
}

.big-products-container h2 {
  margin-bottom: 10px;
}

.products-main {
  flex-grow: 1;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.products-cont {
  justify-content: start;
  gap: 50px;
}

table {
  text-align: center;
  border-collapse: collapse;
}

table * {
  padding: 10px 60px;
  border: 1px solid rgba(202, 202, 202, 0.514);
}

table th {
  background-color: #7d6096d0;
  color: white;
}

/* CONTACT PAGE */

#contact-main {
  display: flex;
  flex-direction: column;
}

#contact-main h2 {
  text-align: center;
  margin: 30px;
}

#contact-main-container {
  display: flex;
  justify-content: space-evenly;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

iframe {
  height: 500px;
  width: 40%;
}

input[type=text] {
  padding: 10px;
  width: 100%;
}

input[type="checkbox"], input[type="radio"] {
  height: 25px;
  width: 25px;
}

textarea {
  width: 100%;
  padding: 30px 0px;
}

#categories-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 20px;
  border: none;
  align-items: center;
}

#categories-field label {
  display: flex;
  flex: 0 0 20%;
  align-items: center;
  gap: 8px;
}

.categories-container {
  display: flex;
  justify-content: space-between;
}

#suscribe-fieldset {
  border: none;
  display: flex;
  width: fit-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 130px;
}

#suscribe-fieldset label {
  display: flex;
  align-items: center;
  gap: 5px;
}

input[type=submit], input[type=reset] {
  width: 300px;
  padding: 10px 0px;
  border: none;
  background-color: #7D6096;
  color: white;
  cursor: pointer;
}

#buttons-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  nav {
    gap: 20px;
  }
  
  /* HOME PAGE */

  .top-section {
    background-size: cover;
    width: 95%;
  }

  .products {
    padding: 15px 0px;
  }

  .categories-container {
    flex-direction: column;
  }

  /* ABOUT US PAGE */

  #top-section-about {
    background-size: cover;
    width: 95%;
  }

  .team-container {
    flex-direction: column;
  }

  #values-section p {
    width: auto;
  }

  #values-section li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #value-n2 {
    flex-direction: column-reverse !important;
  }

  /* PRODUCTS PAGE */

  .big-products-container {
    flex-direction: column;
  }
  .big-products-container h2 {
    text-align: center;
  }
  .products-main {
    padding: 0px;
  }
  #table-container {
    overflow-x: auto;
  }
  table * {
    padding: 5px 30px;
  }

  aside {
    border: none;
  }

  .category {
    align-items: center;
    text-align: center;
  }
  .subcategory {
    padding: 0px;
  }
  .subcategory li {
    padding: 5px 0px;
  }

  /* CONTACT PAGE */

  #contact-main-container {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 90%;
  }

  form {
    width: 90%;
  }

  #suscribe-fieldset {
    gap: 10px;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  
  /* HOME PAGE */

  .top-section {
    background-size: cover;
    width: 95%;
  }
  
  .categories-container {
    flex-direction: column;
  }

  /* PRODUCTS PAGE */

  aside {
    border: none;
  }

  .category {
    align-items: center;
    text-align: center;
  }

  .subcategory {
    padding: 0px;
  }

  .subcategory li {
    padding: 5px 0px;
  }

  .big-products-container {
    flex-direction: column;
  }

  .big-products-container h2 {
    text-align: center;
  }

  .products-cont {
    justify-content: center;
  }

  #table-container {
    overflow-x: auto;
  }

  /* ABOUT US PAGE */

  #top-section-about {
    background-size: cover;
    width: 95%;
  }

  .team-container {
    flex-direction: column;
  }

  #values-section p {
    width: auto;
  }

  #values-section li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #value-n2 {
    flex-direction: column-reverse !important;
  }

  /* CONTACT PAGE */

  #contact-main-container {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 90%;
  }

  form {
    width: 90%;
  }

  #categories-field {
    gap: 10px 2px;
  }

  #suscribe-fieldset {
    gap: 10px;
  }

  #buttons-container {
    flex-wrap: nowrap;
  }
}

 
@media (min-width: 769px) and (max-width: 1024px) {
  .top-section {
    background-size: cover;
    width: 95%;
  }
  
  .categories-container {
    flex-direction: column;
  }
  
  /* PRODUCTS PAGE */

  aside {
    border: none;
  }

  .category {
    align-items: center;
    text-align: center;
  }

  .subcategory {
    padding: 0px;
  }

  .subcategory li {
    padding: 5px 0px;
  }

  .big-products-container {
    flex-direction: column;
  }

  .big-products-container h2 {
    text-align: center;
  }

  .products-cont {
    justify-content: center;
  }

  #table-container {
    overflow-x: auto;
  }

  /* ABOUT US PAGE */

  #top-section-about {
    background-size: cover;
    width: 95%;
  }

  .team-container {
    flex-direction: column;
  }

  /* CONTACT PAGE */

  #contact-main-container {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 90%;
  }

  form {
    width: 90%;
  }

  #buttons-container {
    flex-wrap: nowrap;
  }

}
